{% extends "web/layout.html" %}

{% block scripts %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>

<div class="row">
    <div class="col-md-6">
        <div style="width: 95%">
            <div id="container_day"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div style="width: 95%">
            <div id="container_month"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
{% autoescape off %}
Highcharts.chart('container_day', {
    chart: {
        type: 'line'
    },
    title: {
        text: '{{ chart_day.title }}'
    },
    yAxis: {
        title: {
            text: 'Number of requests'
        }
    },
    xAxis: {
        title: {
            text: 'Day'
        },
        categories: {{ chart_day.categories }}
    },

    series: [{
        name: 'Requests',
        data: {{ chart_day.data }}
    }]
});

Highcharts.chart('container_month', {
    chart: {
        type: 'line'
    },
    title: {
        text: '{{ chart_month.title }}'
    },
    yAxis: {
        title: {
            text: 'Number of requests'
        }
    },
    xAxis: {
        title: {
            text: 'Month'
        },
        categories: {{ chart_month.categories }}
    },

    series: [{
        name: 'Requests',
        data: {{ chart_month.data }}
    }]
});
{% endautoescape %}
</script>


{% endblock %}
