{% extends "web/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Yandex.News Parser</h1>
    <p class="lead">This site contains statistics of telegram bot @powerlekstodo_bot.</p>
    <p><a href="https://telegram.me/powerlekstodo_bot" class="btn btn-primary btn-large">Add bot +</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Top requests for all time</h2>
        <ul>
            {% for query in top_queries %}
                <li>{{ query.query }} - {{ query.dcount }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Top requests today</h2>
        <ul>
            {% for query in top_today_queries %}
                <li>{{ query.query}} - {{ query.dcount }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
