﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Yandex.News Parser</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'web/content/site.css' %}" />
    <script src="{% static 'web/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'web/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'web/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'web/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">YaNewsParser</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'logs' %}">Logs</a></li>
                    <li><a href="{% url 'charts' %}">Charts</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - YaNewsParser</p>
        </footer>
    </div>

</body>
</html>
