{% extends "web/layout.html" %}

{% block content %}

<div class="container">
    <h2>Logs</h2>
    <div class="panel-group">
        {% for query in queries %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{ query.query }}</b> 
                    <span style="float: right">{{ query.date|date:"d.m.Y" }} {{ query.date|time:"H:i" }}</span>
                </div>
                <div class="panel-body">{% autoescape off %}{{ query.answer|linebreaks|urlize }}{% endautoescape %}</div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
